@model IEnumerable<BookStore.Web.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Image</th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeteCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="record_@item.RecordId">
        <td><img src="@item.Book.ImageUrl"/></td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            <input type="text" class="count" value="@item.Count" data-id="@item.RecordId" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeteCreated)
        </td>
        <td>
            <a href="#" class="delete" data-id="@item.RecordId">删除</a>
        </td>
    </tr>
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            总价格：
        </td>
        <td>
           <text id=TotilPrice>@ViewBag.totalPrice</text> 

        </td>
    </tr>
</table>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:300px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除购物车商品</h4>
            </div>
            <div class="modal-body">是否删除？<input class="delete_id"type="hidden"/></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnDelete">删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section Scripts{
    <link href="~/Content/jquery.spinner.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery.spinner.js" type="text/javascript"></script>
    <script>
        $(function () {
            $(".count").spinner();
            $(".count").bind("update", function () {
                var recordID = $(this).attr("data-id");
                var count = $(this).val();
                $.post("/ShopCart/UpdateCount",
                    {recordID:recordID,count:count},
                    function (data) {
                        $("#TotilPrice").text(data.TotalPrice);
                        $("#Total_count").text(data.TotalCount);
                    })
            });
            $("#btnDelete").click(function () {
                var recordID = $(this).attr("data-id");
                    $.post("ShopCart/Delete", new { id: recordID },
                        function (data) {
                            if (data.Status == 1) {
                                $("#myModal").modal("hide")
                                $("#record_" + recordID).fadeOut();
                                $("#TotilPrice").text(data.TotalPrice);
                                $("#Total_count").text(data.TotalCount);
                            }
                        });
            });
            $(".delete").click(function () {
                $("#myModal").modal();
                $("#delete_id").val=($(this).attr("data-id"));
            });
        });

    </script>

}