@model IEnumerable<CarsRent.Models.OrderDetail>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Evaluate)
            </th>
        </tr>
    </thead>
    <tbody>
@if (Model != null && Model.Count() > 0)
{
        foreach (var item in Model)
            {
            <tr id="record_@item.OrderDetailsId">
                <td></td>
                <td colspan="9" valign="bottom">
                    <span>@item.Order.OrderTime.ToShortDateString().ToString()</span>
                </td>
                <td>
                    <a class="delete" data-id="@item.Order.OrderId" style="height:0px" data-toggle="tooltip" data-placement="top" title="删除订单">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr id="record_@item.OrderDetailsId">
                <td>
                    <input class="check-box" type="checkbox" name="selectFlag" value="@item.OrderDetailsId" />
                </td>
                <td>
                    <a href="~/Cars/Details/@item.CarId"><img src="@item.Car.ImageUrl" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarName)
                </td>
                <td>
                    <p>@item.AwayTime.ToShortDateString().ToString()</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <label>已归还</label>
                </td>
                @if (item.Order.Evaluate == 0)
                    {
                    <td>
                        <a>追加评价</a>
                    </td>
                }
                else
                {
                    <td>
                        <a>查看评价</a>
                    </td>
                }
            </tr>

        }
        }
        else
        {
        <tr><td colspan="9"><h3>暂无数据</h3></td></tr>
        }
        <tr>
            <td valign="middle">
                <input class="check-box" name="checkAll" id="checkAll" type="checkbox" value="true" /><label>全选</label>
            </td>
            <td valign="middle" style="text-align:left " colspan="8">
                <button class="btn btn-default" id="deleteAll">全部删除</button>
            </td>
        </tr>
    </tbody>
</table>



