@using CarsRent.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}
<div class="page-container">
            <h1>Login</h1>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.AccountNumber, new { @placeholder = "登录名或电话号码", onfocus = "this.placeholder=''", onblur = "this.placeholder='登录名或电话号码'" })
                            <br />
                            @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", onfocus = "this.placeholder=''", onblur = "this.placeholder='Password'" })
                        <br />
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                     </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="登录" class="btn btn-default" />
                        </div>
                    </div>
            }
</div>
<ul id="supersized" class="speed" style="visibility: visible"></ul>
<style>
    img {
        filter: alpha(opacity=50);
        opacity:0.5;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/assets/css/style.css" rel="stylesheet" />
<link href="~/Content/assets/css/supersized.css" rel="stylesheet" />
<script src="~/Scripts/assets/js/supersized-init.js"></script>
<script src="~/Scripts/assets/js/supersized.3.2.7.min.js"></script>
}