@model CarsRent.Models.Car

@{
    ViewBag.Title = "Details";
}


<div style="margin-left:50px">
    <table>
        <tr>
            <td>
                <div style="float:left;margin:10px">
                    <img height="250" width="400" src="@Model.ImageUrl" alt="270*170" />
                </div>
            </td>
            <td>
                <div style="float:left;min-width:300px">
                    <h3>@Html.DisplayFor(model => model.CarName)</h3>
                    <hr />
                    <h4 style="margin:3px;">价格：<span style="color:red">@Html.DisplayFor(model => model.RentPrice)/1天</span></h4>
                    <br />
                    <a class="btn btn-default"  style="vertical-align:middle;padding:0px 12px;margin:3px;" href="/Cars/EditOrder/@Model.CarId"><span>我要租车</span></a>
                    <hr />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h3>基本信息</h3>
                    <dl class="dl-horizontal" style="font-size:15px">
                        <dt>
                            @Html.DisplayNameFor(model => model.Brand.BrandName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Brand.BrandName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Categroy.CategoryName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Categroy.CategoryName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SeatNum.SeatNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeatNum.SeatNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PlateNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PlateNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RentPrice)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RentPrice)
                        </dd>
                    </dl>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div>
                    <h3>车辆介绍</h3>
                    <p>@Html.Raw(Model.Details)</p>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

 
</div>
<div>
    <hr />
</div>
<p>
    @Html.ActionLink("返回", "Index")
</p>
<div>
    @{ Html.RenderAction("UserEvaluate", "Cars", new { id = Model.CarId });}
</div>
@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/jquery.spinner.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/jquery.spinner.js" type="text/javascript"></script>

<script>
    $("#count").spinner();
</script>

}