@model IEnumerable<CarsRent.Models.Car>
@using X.PagedList.Mvc
@using X.PagedList

@{
    ViewBag.Title = "Index";
}
<div class="row" style="margin-top:20px;">
    <table id="selectList">
        <tr>
            <td valign="middle">
                <label>品牌:</label>
            </td>
            <td>
                <div id="brand">
                    <ul class="nav nav-tabs brand">
                        <li><a href="#">不限</a></li>
                        @foreach (CarsRent.Models.Brand item in ViewBag.Brand)
                        {
                            <li><a data-id="@item.BrandId" href="#">@item.BrandName</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <label>车型:</label>
            </td>
            <td>
                <div id="category">
                    <ul class="nav nav-tabs category">
                        <li><a href="#">不限</a></li>
                        @foreach (CarsRent.Models.Categroy item in ViewBag.Categroy)
                        {
                            <li><a href="#" data-id="@item.CategoryId">@item.CategoryName</a></li>
                        }
                    </ul>
                </div>
                
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <label>车座:</label>
            </td>
            <td>
                <div id="div_seatNum">
                    <ul class="nav nav-tabs div_seatNum">
                        <li><a href="#">不限</a></li>
                        @foreach (CarsRent.Models.SeatNum item in ViewBag.SeatNum)
                        {
                            <li><a href="#" data-id="@item.SeatNumId">@item.SeatNumber</a></li>
                        }
                    </ul>
                </div>                
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <label>价格:</label>
            </td>
            <td>
                <div id="money">
                    <ul class="nav nav-tabs money">
                        <li><a href="#">不限<i></i><i></i></a></li>
                        <li><a href="#"><i>80</i><i></i><i>以下</i></a></li>
                        <li><a href="#"><i>80</i>-<i>90</i>/天</a></li>
                        <li><a href="#"><i>90</i>-<i>100</i><i>/天</i></a></li>
                        <li><a href="#"><i>100</i>-<i>110</i><i>/天</i></a></li>
                        <li><a href="#"><i>110</i>-<i>120</i><i>/天</i></a></li>
                        <li><a href="#"><i></i><i>120</i><i>以上</i></a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>


<div class="row" id="div_carList" style="padding-top:10px">
    @{Html.RenderAction("CarList", "Cars");}
</div>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

            $(document).ready(function () {
                var Category="";
                var Brand = "";
                var SeatNum = "";
                var Min = "";
                var Max = "";
                $('ul.category > li').click(function () {
                    $('ul.category > li').removeClass('active');
                    $(this).addClass('active');
                    Category = $(this).find("a").attr("data-id");
                    dd();
                });
                $('ul.brand > li').click(function () {
                    //e.preventDefault();
                    $('ul.brand > li').removeClass('active');
                    $(this).addClass('active');
                    Brand = $(this).find("a").attr("data-id");
                    dd();
                });
                $('ul.div_seatNum > li').click(function () {
                    $('ul.div_seatNum > li').removeClass('active');
                    $(this).addClass('active');
                    SeatNum = $(this).find("a").attr("data-id");
                    dd();

                });
                $('ul.money > li').click(function () {
                    $('ul.money > li').removeClass('active');
                    $(this).addClass('active');
                    Min = $(this).find("i").eq(0).text();
                    Max = $(this).find("i").eq(1).text();
                    dd();

                });
                function dd() {
                    $.ajax({
                        type:"POST",
                        url: "/Cars/CarList",
                        data: { BrandID: Brand, CategroyID: Category, seatNum: SeatNum, min: Min, max: Max },
                        datatype:"json",
                        success: function (date) {
                                $("#div_carList").html(date);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    })

                }

            });
        </script>
    }


